.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 16px;
  width: 600px;
  height: 70%;
  padding: 24px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-tabs {
  display: flex;
  gap: 16px;
  margin: 16px 0;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  font-weight: 500;
}

.modal-tabs .active-tab {
  color: black;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 2.5rem;
}

.form-row {
  display: flex;
  gap: 16px;
padding-bottom: 1rem;
}

.form-row input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.checkboxes {
  display: flex;
  gap: 16px;
}

.form-actions {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.add-btn {
  background-color: #14532d;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  background-color: transparent;
  color: #14532d;
  padding: 10px 20px;
  border: 1px solid #14532d;
  border-radius: 8px;
  cursor: pointer;
}
