.course-category-page {
margin-bottom: 2rem;
  .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
         .buttons {
            display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 2rem;

      }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: #888;
      font-size: 0.9rem;
      margin: 0.25rem 0 1rem;
    }

    .controls {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;


      button {
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        border: 1px solid #ccc;
        background: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;

        &.active {
          background: #004d25;
          color: white;
          border-color: #004d25;
        }

        &.filter {
          margin-left: auto;
        }

        &.add {
          background: #004d25;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  .card {
    background: #fff;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .top {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .badge {
        color: white;
        font-weight: 600;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .info {
        flex-grow: 1;

        h3 {
          margin: 0;
          font-size: 1rem;
          font-weight: 600;
        }

        p {
          font-size: 0.75rem;
          color: #666;
        }
      }

      .dots {
        font-size: 1.5rem;
        cursor: pointer;
        color: #999;
      }
    }

    .description {
      font-size: 0.85rem;
      color: #444;
    }

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  span {
    border-radius: 0.5rem;
    font-size: 12px;
    padding: 4px;
    color: #333;
    white-space: nowrap;
  }
    }
  }
}


.toggle-wrapper {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 999px; 
  background-color: #fff;

  a {
    padding: 8px 12px;
    border: none;
    border-radius: 999px; 
    background-color: transparent;
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    transition: 0.3s ease;
    font-weight: 500;

    &.active {
      background: #004d25;
          color: white;
    }

    &:hover:not(.active) {
      background-color: #f9f9f9;
    }
  }
}
