.instructor-list {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background: white;

    th, td {
      padding: 12px 16px;
      border-bottom: 1px solid #eee;
      text-align: left;
    }

    th {
      background-color: #fafafa;
      font-weight: 600;
      color: #444;
    }

    .instructor-info {
      display: flex;
      align-items: center;
      gap: 10px;

     .avatar-cell {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}

      .name {
        font-weight: 600;
        color: #333;
      }

      .email {
        font-size: 12px;
        color: #888;
      }
    }

    .status {
      padding: 4px 10px;
      border-radius: 12px;
      font-weight: 500;
      font-size: 13px;
      display: inline-block;

      &.active {
        color: #0f9d58;
        background: rgba(15, 157, 88, 0.1);
      }

      &.pending {
        color: #f4b400;
        background: rgba(244, 180, 0, 0.1);
      }

      &.suspend {
        color: #d93025;
        background: rgba(217, 48, 37, 0.1);
      }

      &.inactive {
        color: #999;
        background: rgba(160, 160, 160, 0.1);
      }
    }
  }
}

.search-header {
  width: 35%;
  display: flex;
  gap: 1rem;
  align-items: center;

  .search-box {
    position: relative;

    input {
      padding: 10px 36px 10px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      color: #7a7f9a;
    }

    .search-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #7a7f9a;
      font-size: 16px;
    }
  }

  .status-dropdown {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: 600;
    color: #4a5160;
    background-color: white;
    font-size: 14px;
  }

  .add-button {
    background-color: #125c2e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    .plus {
      font-size: 18px;
    }
  }
}
.he {
  width: 20%;
}