* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.login-page {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;

  .left-panel {
    flex: 1;
    background: linear-gradient(to bottom, #a6c1a9, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-section img {
      max-width: 60%;
      height: auto;
    }

    .logo-section {
             display: flex;
    justify-content: center;
    }
  }

  .right-panel {
    flex: 1;
    padding: 2rem 4rem;
    position: relative;

    .language-selector {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      color: #333;

      .divider {
        color: black;
      }

      .active-lang {
        color: #07531d;
        cursor: pointer;
      }
    }

    .login-form {
      margin-top: 8rem;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
        color: #333;
      }

      p {
        font-size: 0.9rem;
        color: #999;
        margin-bottom: 2rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          text-align: left;
          font-size: 0.85rem;
          color: #333;
        }

        .input-group {
          display: flex;
          align-items: center;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 0.5rem;
          background: #fff;

          .icon {
            margin-right: 0.5rem;
            color: #07531d;
          }

          .eye {
            margin-left: auto;
            cursor: pointer;
          }

          input {
            border: none;
            outline: none;
            flex: 1;
            font-size: 0.95rem;
          }
        }

        .options {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.85rem;
          color: #666;

          a {
            color: #07531d;
            text-decoration: none;
          }
        }

        button {
          background: #07531d;
          color: #fff;
          border: none;
          padding: 0.75rem;
          border-radius: 25px;
          font-size: 1rem;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: #06461b;
          }
        }
      }
    }
  }
}
