.payments-wrapper {
    margin-bottom: 10px;
}
.payments-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 1.5rem;
}

.tabss {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;

  button {
    border: none;
    background: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;    
    cursor: pointer;
    border-bottom: 3px solid transparent;
    color: #6c757d;
    gap: 10px;
    &.active {
      color: #0f9d58;
      border-color: #0f9d58;
    }
  }
}

.payments-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }

  th {
    font-size: 0.85rem;
    color: #555;
    background-color: #fafafa;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .avatar {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #fff;
    }

    .name {
      font-weight: 600;
    }

    .email {
      font-size: 0.8rem;
      color: #888;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  gap: 0.5rem;
  font-size: 0.9rem;

  .one {
      display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  font-size: 0.9rem;
  }

  button {
    padding: 0.4rem 0.75rem;
    border: none;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background-color: #0f9d58;
      color: white;
    }
  }

  .page-info {
    margin-left: 1rem;

    select {
      padding: 0.2rem 0.4rem;
    }
  }
}
