.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(238, 255, 243, 1);
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: white;

  svg {
    margin-right: 0.5rem;
    color: #007f3d;
  }

  input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      font-size: 14px;
      margin: 0;
    }

    .role {
      font-size: 12px;
     color: #007f3d;
    }

    .last {
        display: flex;
    }
  }
}
