.dashboard-layout {
  display: flex;
  height: 100vh;

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .page-content {
      padding: 1rem 1rem;
      overflow-y: auto;
    }
  }
}




