.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .layout-left {
    flex: 1;
    background: linear-gradient(to bottom, #a6c1a9, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .layout-right {
    flex: 1;
    background: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
